<!-- search bar -->
<div class='container search-bar'>
  <div class='search-bar-outer'>
    <div class='search-bar-inner'>
      <form action='/restaurant'>
        <h4 class='mb-2'>尋找餐廳：</h4>
        <div class='input-group'>
          <input type='text' name='keyword' class='form-control' placeholder='輸入餐廳、分類' aria-label='Restaurant Name...'
            value='{{keyword}}' aria-describedby='search-button' />
          <div class='input-group-append'>
            <button class='btn btn-major' type='submit' id='search-button'><i class='fas fa-search'></i></button>
          </div>
          <div class="dropdown text-center">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-bs-toggle="dropdown" aria-expanded="false">
              排序類別
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="/restaurant/?sortBy=1&{{#if keyword}}keyword={{keyword}}{{/if}}"
                  data-value="1">A->Z</a></li>
              <li><a class="dropdown-item" href="/restaurant/?sortBy=2&{{#if keyword}}keyword={{keyword}}{{/if}}"
                  data-value="2">Z->A</a></li>
              <li><a class="dropdown-item" href="/restaurant/?sortBy=3&{{#if keyword}}keyword={{keyword}}{{/if}}"
                  data-value="3">類別</a></li>
              <li><a class="dropdown-item" href="/restaurant/?sortBy=4&{{#if keyword}}keyword={{keyword}}{{/if}}"
                  data-value="4">地區</a></li>
            </ul>
          </div>
        </div>
      </form>

    </div>
  </div>

</div>


{{> message}}

<!-- restaurant list -->
<div class='container mt-5'>
  <div class='row'>
    <div class='col-md-10 col-12 mx-auto'>

      <div class='row row-cols-sm-3'>
        {{#each restaurants as |restaurant|}}
        <div>
          <a href='/restaurant/{{restaurant.id}}' class='text-secondary'>
            <div class='card mb-3'>
              <img class='card-img-top' src='{{restaurant.image}}' alt='{{restaurant.name}}' />
              <div class='card-body p-3'>
                <h6 class='card-title mb-1'>{{restaurant.name}}</h6>

                <div class='restaurant-category mb-1'>
                  <i class='fas fa-utensils pr-2'></i>
                  {{restaurant.category}}
                </div>

                <span class='badge rounded-pill bg-danger font-weight-normal'>
                  {{restaurant.rating}}
                  <i class='fas fa-star fa-xs'></i>
                </span>

              </div>
              <div class='d-flex justify-content-around bg-secondary p-2 bg-opacity-10'>
                <a href='/restaurant/{{restaurant.id}}/edit' class="btn btn-success ">Edit</a>
                <a href='/restaurant/{{restaurant.id}}' class='btn btn-info '>Detail</a>
                <button type='button' class="btn btn-danger" data-bs-toggle="modal"
                  data-bs-target="#deleteConfirmationModal-{{restaurant.id}}">delete</button>
              </div>

              <!-- 删除确认模态框 -->
              <div class="modal fade" id="deleteConfirmationModal-{{restaurant.id}}" tabindex="-1"
                aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deleteConfirmationModalLabel">確定刪除</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      確定要刪除餐廳 "{{restaurant.name}}" ?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                      <form action="/restaurant/{{restaurant.id}}?_method=DELETE" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-danger">確定刪除</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>

        </div>

        {{/each}}
      </div>

    </div>
  </div>
</div>

<nav aria-label="...">
  <ul class="pagination justify-content-center">
    <li class="page-item {{#if prev}}{{else}}disabled {{/if}}">
      <a class="page-link"
        href="/restaurant/?page={{prev}}{{#if sortBy}}&sortBy={{sortBy}}{{/if}}{{#if keyword}}&keyword={{keyword}}{{/if}}">{{prev}}</a>
    </li>
    <li class="page-item active" aria-current="page">
      <a class="page-link"
        href="/restaurant/?page={{page}}{{#if sortBy}}&sortBy={{sortBy}}{{/if}}{{#if keyword}}&keyword={{keyword}}{{/if}}">{{page}}</a>
    </li>
    <li class="page-item">
      <a class="page-link"
        href="/restaurant/?page={{next}}{{#if sortBy}}&sortBy={{sortBy}}{{/if}}{{#if keyword}}&keyword={{keyword}}{{/if}}">{{next}}</a>
    </li>
  </ul>
</nav>