<div class='d-flex justify-content-center' style='max-width: 600px; margin: 0 auto;'>
  <form action='/restaurant' method='POST'>

    <div class=' mb-3'>
      <label for='edit_name' class='form-label'>餐廳名稱*</label>
      <input type='name' name='name' class='form-control wider-input' id='edit_name' value='{{restaurant.name}} '
        required />
    </div>

    <div class=' mb-3'>
      <label for='edit_name_en' class='form-label'>餐廳英文名稱*</label>
      <input type='name' name='name_en' class='form-control' id='edit_name_en' value='{{restaurant.name_en}}'
        required />
    </div>

    <div class=' mb-3'>
      <label for='edit_category' class='form-label'>餐廳類別*</label>
      <select class='form-select' name='category' id='edit_category' required>
        <option selected value="" disabled hidden>選擇餐廳種類</option>
        <option value='日本料理'>日本料理</option>
        <option value='義式餐廳'>義式餐廳</option>
        <option value='中東料理'>中東料理</option>
        <option value='美式'>美式</option>
        <option value='酒吧'>酒吧</option>
        <option value='咖啡'>咖啡</option>
      </select>
    </div>

    <div class=' mb-3'>
      <label for='edit_image' class='form-label'>餐廳照片網址</label>
      <input type='text' name='image' class='form-control' id='edit_image' value='{{restaurant.image}}' />
    </div>

    <div class=' mb-3'>
      <label for='edit_location' class='form-label'>餐廳地點</label>
      <input type='text' name='location' class='form-control' id='edit_location' value='{{restaurant.location}}' />
    </div>

    <div class=' mb-3'>
      <label for='edit_phone' class='form-label'>餐廳電話</label>
      <input type='text' name='phone' class='form-control' id='edit_phone' value='{{restaurant.phone}}' />
    </div>

    <div class=' mb-3'>
      <label for='edit_google_map' class='form-label'>Google_map</label>
      <input type='text' name='google_map' class='form-control' id='edit_google_map'
        value='{{restaurant.google_map}}' />
    </div>

    <div class='mb-3'>
      <label for='edit_rating' class='form-label'>餐廳評分</label>
      <input type='number' name='rating' class='form-control' id='edit_rating' value='{{restaurant.rating}}' min='0'
        max='5' step='0.1' />
    </div>

    <div class='mb-3'>
      <label for='edit_description' class='form-label'>餐廳簡介</label>
      <textarea type='text' name='description' class='form-control' id='edit_description'
        style='height: 100px'>{{restaurant.description}}</textarea>
    </div>

    <button type='submit' class='btn btn-primary'>Save</button>

    <a href='/restaurant' class='btn btn-secondary'>back</a>
  </form>
</div>